@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #616EB5,#626A96, #494E69);
}

main{
    background-color: white;
    border-radius: 10px /*Arrendodar as bordas*/;
    box-shadow: 5px 5px 15px #272a38d0; /*Sombreamento*/
    width: 600px; /*Largura da caixa*/
    padding: 10px; /*Espaçamento do texto da caixa, com a BORDA dela*/
    margin: auto; /*Margem SEMPRE estará centralizada, independente do tamanho da tela*/
}

h1{
    color: #626A96;
    text-align: center;
    text-shadow: 1px 1px 2px #626a96f1;
}

h2{
    color: #626A96;
}

p{
    text-align: justify;
}

